$font-family-title: 'Big Shoulders Display', cursive;
$font-family-body: 'Lexend Deca', sans-serif;
$font-size-body: 15px;

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

/* background, headings, buttons */
$very-light-gray: hsl(0, 0%, 95%);

/* paragraphs */
$transparent-white: hsla(0, 0%, 100%, 0.75);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family-body;
}

.wrapper {
    min-height: 100vh;
    background-color: $very-light-gray;
    position: relative;
}

.card-container {
    display: inline-flex;
    flex-direction: column;
    margin: 5.4em 1.35em;
    border-radius: .5em;
    overflow: hidden;
}

/* Card  */
.card {
    padding: 3em;
}

.card__icon {
    width: 4em;
}

.card__title {
    font-family: $font-family-title;
    font-size: 2.4em;
    text-transform: uppercase;
    margin-top: .8em;
    margin-bottom: .7em;
    letter-spacing: .02em;
    color: $very-light-gray;
    
}

.card__desc {
    font-size: $font-size-body;
    line-height: 1.7em;
    margin-bottom: 1.6em;
    color: $transparent-white;
}

/* Color card */
.card--orange {
    background-color: $bright-orange;
}

.card--dark-cian {
    background-color: $dark-cyan;
}

.card--very-dark-cian {
    background-color: $very-dark-cyan;
}

/* Button */
.button {
    border: none;
    background-color: $very-light-gray;
    font-weight: bold;
    border-radius: 3em;
    letter-spacing: .04em;
    padding: 1.2em 2.66em;

    &:hover {
        border: 2px solid $very-light-gray;
        background-color: transparent;
        color: $very-light-gray;
    }
}

/* Color button */
.button--orange {
    color: $bright-orange;
}

.button--dark-cian {
    color: $dark-cyan;
}

.button--very-dark-cian {
    color: $very-dark-cyan;
}


/* Atribucion */

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (min-width: 900px) {


    .wrapper {
        display: flex;
        width: 100%;
        min-height: 100vh;
        padding: 3em;
    }
    
    .card-container {
        display: inline-flex;
        flex-direction: row;
        margin: auto;
    }
    
    /* Card  */
    .card {
        max-width:19.19em;
    }
    
    /* Button */
    .button {
        padding: 1.2em 2.5em;
        margin-top: 4.3em;
    }

}